*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}

/*
文件路径写相对路径
../表示上一层


hover有兼容性问题
ie6的版本只能对a加hover

不变的样式都可以写在公共样式里面
*/
.wrapper{
    width: 1100px;
    margin: 0px auto;
    /*background: #cccccc;*/

}
#header{
    /*background: #0fdfdf;*/
    height: 76px;

}
#header .wrapper{
    height: 76px;
    background: url("../images/logo.jpg") no-repeat left center;

}
/*#header img{*/
    /*margin-top: 10px;*/
/*}*/
#nav{
    float: right;
    margin-top: 20px;
}
#nav li{
    width: 90px;
    height: 36px;
    float: left;
    line-height: 36px;
}
#nav a{
    width: 100%;
    height: 100%;
    /*float: left;*/
    color: #434343;
    font-size: 15px;
    font-weight: bold;

}
#nav a:hover{
    color: red;
}
#banner{
    height: 452px;
    background: url("../images/banner01.jpg") no-repeat center;
}